#{extends 'auth/login.html' /}
#{set 'pageStyles'}
  <link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/secure.css'}" />
#{/set}

#{set 'personalHeader'}
        <div class="container header-personal-info">
          <div class="pull-right">
            <br>
            <a href="#">Sign Up</a>&#8226;<a href="@{Secure.login()}">Log In</a>
            
          </div>
        </div>
#{/set}
#{set header:'Sign Up' /}

#{form @signup(), class:'form-horizontal'}
    #{ifErrors}
        <p class="error">
            Please correct these errors.
        </p>
    #{/ifErrors}
     
	#{field 'name'}
	<div class="control-group ${errors.forKey(field.name) ? 'error' : ''}">
	  <label class="control-label">Name</label>
	  <div class="controls">
	    <input type="text" name="${field.name}" value="${user?.name}">
	    <span class="help-inline">#{error 'name' /}</span>
	  </div>
	</div>
	#{/field}
	#{field 'email'}
	<div class="control-group ${errors.forKey(field.name) ? 'error' : ''}">
	  <label class="control-label required">Email</label>
	  <div class="controls">
	    <input type="text" name="${field.name}" value="${user?.email}">
	    <span class="help-inline">#{error 'email' /}</span>
	  </div>
	</div>
	#{/field}
	#{field 'password'}
	<div class="control-group ${errors.forKey(field.name) ? 'error' : ''}">
	  <label class="control-label required">Password</label>
	  <div class="controls">
	    <input type="password" name="${field.name}">
	    <span class="help-inline">#{error 'password' /}</span>
	  </div>
	</div>
	#{/field}
	#{field 'question'}
	<div class="control-group ${errors.forKey(field.name) ? 'error' : ''}">
	  <label class="control-label">Security question</label>
	  <div class="controls">
	    <input type="text" name="${field.name}" value="${user?.question}">
	    <span class="help-inline">#{error 'question' /}</span>
	  </div>
	</div>
	#{/field}
	#{field 'answer'}
	<div class="control-group ${errors.forKey(field.name) ? 'error' : ''}">
	  <label class="control-label">Answer to the question</label>
	  <div class="controls">
	    <input type="text" name="${field.name}" value="${user?.answer}">
	    <span class="help-inline">#{error 'answer' /}</span>
	  </div>
	</div>
	#{/field}
    
	<div class="control-group">
	  <label class="control-label"></label>
	  <div class="controls">
	  	<img src="@{Captcha.captcha(captchaId)}" />
	  	<input type="hidden" name="captchaId" value="${captchaId}" />
	  </div>
	</div>
    
	#{field 'captcha'}
	<div class="control-group ${errors.forKey(field.name) ? 'error' : ''}">
	  <label class="control-label required">Security check</label>
	  <div class="controls">
	    <input type="text" name="${field.name}">
	    <span class="help-inline">#{error 'captcha' /}</span>
	  </div>
	</div>
	#{/field}
    
	<div class="control-group">
	  <div class="controls">
	    <input type="submit" value="Create an account">
	  </div>
	</div>
#{/form}
