
/* Sticky footer styles
-------------------------------------------------- */
html,
body {
  height: 100%;
  background: none repeat scroll 0 0 #FAFAFA;
  /* The html and body elements cannot have any padding or margin. */
}

.page-header{
	background: white;
	margin-top: 0px;
	padding-bottom: 0px;
}

.page-header h1{
  margin-top: 0px;
  padding-top: 10px;
}

.page-header .banner {
	font-size: 20px;
	font-weight:bold;
	padding-top: 20px;
	padding-bottom: 20px;
	/* margin-bottom: -115px; */
}

.page-header .header-login {
  padding-bottom: 20px;
  margin-top: -60px;
}

.page-header .header-personal-info {
  padding-bottom: 20px;
  margin-top: -115px;
}

.page-header .header-personal-info a, .page-header .header-login a {
  margin-left: 10px;
  margin-right: 10px;
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 60%;
  height: auto !important;
  height: 100%;
  margin-bottom: 30px;
  /* Negative indent footer by it's height */
  /*margin: 0 auto -60px;*/
}

/* Set the fixed height of the footer here */
#push,
#footer {
	text-align: center;
  height: 60px;
  padding-top: 20px;
}
#footer {
  background-color: #f5f5f5;
}
#footer a{
	margin-left: 10px;
	margin-right: 10px;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
  #footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.right-header-box {
	width: 320px;
}

.right-header-box a {
	margin: 0 !important;
}

.menu-link-separator {
	padding: 0 7px;
}

.right-header-box .userpic {
	float: left;
	width: 100px;
	margin-right: 15px;
	margin-top: 3px;
}

.right-header-box .navbar-search {
	margin: 0 10px 0 0px;
	width: 100%;
}

.right-header-box .navbar-search INPUT {
	width: 90% !important;
}

.right-header-link-box {
	margin-top: 12px;
}

.nav-side-left li.active a {
	font-weight: bold;
}
