
/* Sticky footer styles
-------------------------------------------------- */
html,
body {
  height: 100%;
  background: none repeat scroll 0 0 #FAFAFA;
  /* The html and body elements cannot have any padding or margin. */
}

.banner-placeholder{
	height: 130px;
}

.nav > li > a{
	font-size: 15px;
}
.nav > li > a:hover, .nav > li > a:focus{
    background-color: rgba(230,230,230,0.5);
}
.nav-pills > .active > a, .nav-pills > .active > a:hover, .nav-pills > .active > a:focus {
    background-color: rgba(0, 136, 204,0.5);
}


.page-header{
	/*http://1.bp.blogspot.com/-EcrxS_sVaAM/UOZ8QMOPl3I/AAAAAAAAAHk/5ppz-KXK57Y/s1600/Tips-for-better-time-management.jpg*/
	background-image: url('../images/banner.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-color: white;
	min-width: 800px;
	min-height: 100px;
	margin: 0 auto;
	padding-bottom: 0px;
}

.page-header h1{
  margin-top: 0px;
  padding-top: 0px;
}

.page-header .banner {
	font-size: 20px;
	font-weight:bold;
	padding-top: 0px;
	padding-bottom: 0px;
	/* margin-bottom: -115px; */
}

.page-header .header-login {
  padding-bottom: 20px;
  margin-top: -60px;
}

.page-header .header-personal-info {
  padding-bottom: 20px;
  margin-top: -115px;
}

.page-header .header-personal-info a, .page-header .header-login a {
  margin-left: 10px;
  margin-right: 10px;
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 60%;
  height: auto !important;
  height: 100%;
  margin-bottom: 30px;
  /* Negative indent footer by it's height */
  /*margin: 0 auto -60px;*/
}

/* Set the fixed height of the footer here */
#push,
#footer {
	text-align: center;
  height: 60px;
  padding-top: 20px;
}
#footer {
  background-color: #f5f5f5;
}
#footer a{
	margin-left: 10px;
	margin-right: 10px;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
  #footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.right-header-box {
	width: 230px;
}

.right-header-box a {
	margin: 0 !important;
}

.menu-link-separator {
	padding: 0 7px;
}

.right-header-box .userpic {
	float: left;
	width: 100px;
	margin-right: 10px;
	margin-top: 3px;
}

.right-header-box .navbar-search {
	margin: 0 10px 0 0px;
	width: 100%;
}

.right-header-box .navbar-search INPUT {
	width: 90% !important;
}

.right-header-link-box {
	margin-top: 12px;
}

.nav-side-left li.active a {
	font-weight: bold;
}

.slider-label {
	width: 100px;
	float: left;
}

#slider-difficulty, #slider-interest {

}
.slider-selection {
	background: #8ab1d2 !important;
}
.slider-handle {
	background: #678baa !important;
}

.course-desc-block {
	margin: 0 10px 30px 0;
}

.course-desc-block .subheader {
	font-weight: bold;
	font-size: larger;
	margin: 0 0 10px 0;
}

.subheader2 {
  font-weight: bold;
  font-size: larger;
  margin: 20px 0 0px 0;
}

.slider-row {
	margin-bottom: 10px;
}

.course-details {
	width: 100%;
	margin: 25px 0;
}

.settings-content {
	padding-left: 280px;
}

.settings-block {
	margin-bottom: 20px;
}

.settings-block-entry {
	margin-bottom: 5px;
}

.recurring-payment {
	margin: 0 0 10px 1px;
}

.recurring-payment label {
	display: inline !important;
}

.recurring-payment input {
	margin: 0 5px 1px 0 !important;
}

.personal-data-table TD {
	padding: 0 30px 6px 0;
}

.personal-data-table TD IMG {
	padding: 6px 0;
}

.personal-data-table TD BUTTON {
	margin: 5px 10px 10px 10px;
}
.personal-data-table TD BUTTON.submit {
	margin: 15px 0 10px 0;
}

.course-data-table TD {
  padding: 0 30px 6px 0;
}

.course-data-table TD IMG {
  padding: 6px 0;
}

.course-data-table TD BUTTON {
  margin: 5px 10px 10px 10px;
}
.course-data-table TD BUTTON.submit {
  margin: 15px 0 10px 0;
}
.course-limit-reached {
	padding: 10px 0 10px 0;
	font-size: smaller;
}

.error-message {
	border: 1px solid #804040;
	background-color: #ffe0e0;
	margin-top: 40px;
	padding: 30px;
}