#{extends "main.html" /}
#{set title: "${course.title}" /}
#{set timeTableNavActive: "" /}
#{set myCoursesNavActive: "active" /}
#{set header: "${course.title}" /}

#{set 'pageStyles'}

  <style>
    tr{ vertical-align:top;}
  </style>     
#{/set}

#{ifErrors}
    <p class="error">
        Please correct these errors.
    </p>
#{/ifErrors}
#{form @Application.saveCourseData(), method:'POST', id:'courseSettingsForm', class:'navbar-form pull-left'}
  <table width="700px" class="course-data-table" vertical-align:top>
    <tr>
      <td width="100%" colspan="2">
          <div class="subheader2">General</div>
      </td>
    </tr>
    <tr>
      <td style="vertical-align:middle;"><label class="control-label">Name:</label></td>
      <td>
        #{field 'title'}
        <div class="control-group ${errors.forKey(field.title) ? 'error' : ''}">
           <input class="span4" type="text" name="title" value="${course.title}"  />
           <input type="hidden" class="span4" type="text" name="id" value="${courseID}"  />
           
          <span class="help-inline">#{error 'title' /}</span>
        </div>
        #{/field}
      </td>      
    </tr>
    <tr>
      <td style="vertical-align:middle;"><label class="control-label">Remarks:</label></td>
      <td>
        #{field 'remarks'}
        <div class="control-group ${errors.forKey(field.remarks) ? 'error' : ''}">
           <input class="span4" type="text" name="remarks" value="${course.remarks}"  />
           
          <span class="help-inline">#{error 'remarks' /}</span>
        </div>
        #{/field}
      </td>
    </tr>
    <tr>
      <td style="vertical-align:middle;"><label class="control-label">Color:</label></td>
      <td>
        #{field 'color'}
        <div class="control-group ${errors.forKey(field.color) ? 'error' : ''}">
           <input class="span4" type="text" name="color" value="${String.format("#%02x%02x%02x", course.color.getRed(), course.color.getGreen(), course.color.getBlue())}"  />
          <span class="help-inline">#{error 'color' /}</span>
        </div>
        #{/field}
      </td>
    </tr>
    <tr>
      <td style="vertical-align:middle;"><label class="control-label">Deadline:</label></td>
      <td>
        #{field 'deadline'}
        <div class="control-group ${errors.forKey(field.deadline) ? 'error' : ''}">
           <input class="span4" type="text" name="deadline" value="${course.deadline.toString('yyyy-MM-dd HH:mm')}"  />
          <span class="help-inline">#{error 'deadline' /}</span>
        </div>
        #{/field}
      </td>
    </tr>
    <tr>
      <td width="100%" colspan="2">
          <div class="subheader2">Personal Settings</div>
      </td>
    </tr>
    <tr>
      <td><label class="control-label">Difficulty (hours/${models.timetable.TimeSlotScheduler.DIFFICULTY_RELATION_PAGES_PER_X_HOURS} pages):</label></td>
      <td>
      #{field 'difficulty'}
      <div class="control-group ${errors.forKey(field.difficulty) ? 'error' : ''}">
         <input class="span4" type="text" name="difficulty" value="${course.difficulty}"  />
        <span class="help-inline">#{error 'difficulty' /}</span>
      </div>
      #{/field}
      </td>
    </tr>
    <tr>
      <td><label class="control-label">Priority:</label></td>
      <td>
      #{field 'priority'}
      <div class="control-group ${errors.forKey(field.priority) ? 'error' : ''}">
         <input class="span4" type="text" name="priority" value="${course.priority}"  />
        <span class="help-inline">#{error 'priority' /}</span>
      </div>
      #{/field}
      </td>
    </tr>
    <tr>
      <td width="100%" colspan="2">
          <div class="subheader2">Course Material</div>
      </td>
    </tr>
    <tr>
      <td style="vertical-align:middle;"><label class="control-label">Script Pages Done:</label></td>
      <td>
        #{field 'scriptPagesDone'}
        <div class="control-group ${errors.forKey(field.scriptPagesDone) ? 'error' : ''}">
           <input class="span4" type="text" name="scriptPagesDone" value="${course.courseMaterial.scriptPagesDone}"  />
          <span class="help-inline">#{error 'scriptPagesDone' /}</span>
        </div>
        #{/field}
      </td>
    </tr>
    <tr>
      <td style="vertical-align:middle;"><label class="control-label">Script Pages ToDo:</label></td>
      <td>
        #{field 'scriptPagesToDo'}
        <div class="control-group ${errors.forKey(field.scriptPagesToDo) ? 'error' : ''}">
           <input class="span4" type="text" name="scriptPagesToDo" value="${course.courseMaterial.scriptPagesToDo}"  />
          <span class="help-inline">#{error 'scriptPagesToDo' /}</span>
        </div>
        #{/field}
      </td>
    </tr>
    <tr>
      <td style="vertical-align:middle;"><label class="control-label">Workload Hours Expected:</label></td>
      <td>
        #{field 'workloadHoursExpected'}
        <div class="control-group ${errors.forKey(field.workloadHoursExpected) ? 'error' : ''}">
           <input class="span4" type="text" name="workloadHoursExpected" value="${course.courseMaterial.workloadHoursExpected}"  />
          <span class="help-inline">#{error 'workloadHoursExpected' /}</span>
        </div>
        #{/field}
      </td>
    </tr>
    <tr>
      <td style="vertical-align:middle;"><label class="control-label">Considering Expected Hours:</label></td>
      <td><input type="checkbox" name="considerExpectedHours" value="true" #{if course.courseMaterial.considerExpectedHours } checked #{/if} /></td>
    </tr> 
    <tr>
      <td><button type="submit" class="btn submit">Save Settings</button></td>
      <td></td>
    </tr>
  </table>
#{/form}
<script>
  $(function() {
    $("#slider-difficulty").slider();
    $("#slider-priority").slider();
  });
</script>




