#{extends 'main.html' /}
#{set title:'Home' /}
#{set timeTableNavActive:'' /}
#{set myCoursesNavActive:'active' /}
#{set header:'Course overview' /}


<table class="table table-hover tablesorter" id="courseList">
  <thead>
    <tr>
      <th>Course</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  %{
    i = 0;
    for(course in coursesList){
      i++; 
  }%
  
  <tr>
  	<td><a href="@{Application.course(course.id)}">${course.title}</a></td>
  	<td>${course.hint}</td>
  	<td><a href="#">manage</a></td>
  </tr>
  
  %{
    }
  }%
  </tbody>
</table>
<script language="JavaScript">
	$(document).ready(function() {
	  $(function() {
	    $("table#courseList").tablesorter({ sortList: [[0,0]], headers: { 1: { sorter: false}, 2: {sorter: false} } });
	  });
	});
</script>
