#{extends 'main.html' /}
#{set header:'Settings' /}
#{set timeTableNavActive:'' /}
#{set myCoursesNavActive:'' /}

<div class="row">
	<div class="span3">
		<ul class="nav nav-tabs nav-stacked nav-side-left">
			<li class="${personalDataNavActive}"><a href="@{Application.settings('personalData')}">Personal Data</a></li>
			<li class="${importNavActive}"><a href="@{Application.settings('import')}">Import</a></li>
			<li class="${paymentNavActive}"><a href="@{Application.settings('payment')}">Payment</a></li>  
		</ul>
	</div>
	<div class="span"></div>
	<div class="span"></div>
	<div class="settings-content">
		#{doLayout /}
	</div>
</div>