#{extends 'main.html' /}
#{set title:'Home' /}
#{set timeTableNavActive:'active' /}
#{set myCoursesNavActive: '' /}

#{set 'pageStyles'}
  <link href="@{'/public/stylesheets/fullcalendar.css'}" rel='stylesheet' />
  <link href="@{'/public/stylesheets/fullcalendar.print.css'}" rel='stylesheet' media='print' />
  <style>

  #calendar {
    margin: 0 auto;
    }

  </style>     
#{/set}
#{set 'pageScripts'}
  <script src="@{'/public/javascripts/fullcalendar.min.js'}"></script>
  <script>

  $(document).ready(function() {
  
    var date = new Date();
    var d = date.getDate();
    var m = date.getMonth();
    var y = date.getFullYear();
    
    $('#calendar').fullCalendar({
      header: {
        left: 'prev,next today',
        center: 'title',
        right: 'month,agendaWeek,agendaDay'
      },
      defaultView: 'agendaWeek',
      slotminutes: 60,
      editable: false,
      events: [
  %{
    i = 0;
    for(entry in entryList.getScheduledTimeSlotList()){
      i++; 
      println '{';
      println 'title: \''+entry.getTitle()+'\',';
      if(entry.getEntryType()==models.timetable.TimetableEntry.TimetableEntryType.BLOCKED){
        println 'color: \'#dddddd\','
      }
      else if(entry.getEntryType()==models.timetable.TimetableEntry.TimetableEntryType.SCHEDULED_LEARNINGSLOT){
        title = entry.getTitle();
        r = entry.getColor().getRed();
        g = entry.getColor().getGreen();
        b = entry.getColor().getBlue();
        
        println 'color: \'rgb('+r+','+g+','+b+')\',';
      }
      else if(entry.getEntryType()==models.timetable.TimetableEntry.TimetableEntryType.EXTERNAL){
        println 'color: \'#aaaaaa\','
      }
      else if(entry.getEntryType()==models.timetable.TimetableEntry.TimetableEntryType.SCHEDULED_BREAKSLOT){
        println 'color: \'#FAFAFA\','
      }
  %}
      start: new Date(${entry.getStartDateTime().getYear()},${entry.getStartDateTime().getMonthOfYear()-1},${entry.getStartDateTime().getDayOfMonth()},${entry.getStartDateTime().getHourOfDay()},${entry.getStartDateTime().getMinuteOfHour()}),
      end: new Date(${entry.getEndDateTime().getYear()},${entry.getEndDateTime().getMonthOfYear()-1},${entry.getEndDateTime().getDayOfMonth()},${entry.getEndDateTime().getHourOfDay()},${entry.getEndDateTime().getMinuteOfHour()}),
      allDay: false
    }
  %{
      if(i!=entryList.getScheduledTimeSlotList().size()){
        print ',';
      }
    }
  %}      
      ]
    });
    
  });

  </script>   
#{/set}

%{
  statusAlert = '';
  for(statusKey in entryList.getCourseScheduleStatusList().keySet()){
    status = entryList.getCourseScheduleStatusList().get(statusKey).toString();
    if(!status.equals('SUCCESS')){
     statusAlert += statusKey+' //  Status: '+status+'<br>';
    }
  }
  if(!statusAlert.equals('')){
    print '<div class=\'alert alert-error\'><b>Following courses couldn\'t be scheduled:</b><br>'+statusAlert+'</div>';
  }
%}
    
<div id='calendar'></div>

<br><br>
<table class="table table-hover">
  <thead>
    <tr>
      <th>#</th><th>Entry Title</th><th>Start Date</th><th>End Date</th>
    </tr>
  </thead>
  <tbody>
  %{
    i = 0;
    for(entry in entryList.getScheduledTimeSlotList()){
      i++; 
  }%
  
  <tr><td>${i}</td><td>${entry.getTitle()}</td><td>${entry.getStartDateTime().toString()}</td><td>${entry.getEndDateTime().toString()}</td></tr>
  
  %{
    }
  }%
  </tbody>
</table>	

${errorString}
<br>

