#{extends 'main.html' /}
#{set title:'Home' /}
#{set timeTableNavActive:'active' /}
#{set myCoursesNavActive: '' /}
#{set statisticNavActive: '' /}

#{set 'pageStyles'}
  <link href="@{'/public/stylesheets/fullcalendar.css'}" rel='stylesheet' />
  <link href="@{'/public/stylesheets/fullcalendar.print.css'}" rel='stylesheet' media='print' />
  <style>

  #calendar {
    margin: 0 auto;
    }

  </style>     
#{/set}
#{set 'pageScripts'}
  <script src="@{'/public/javascripts/fullcalendar.js'}"></script>
  <script>

  $(document).ready(function() {
  
    var date = new Date();
    var d = date.getDate();
    var m = date.getMonth();
    var y = date.getFullYear();
    
    $('#calendar').fullCalendar({
      header: {
        left: 'prev,next today',
        center: 'title',
        right: 'month,agendaWeek,agendaDay'
      },
      defaultView: 'agendaWeek',
      slotminutes: 60,
      editable: false,
      firstDay: 1,
      timeFormat: 'HH:mm{ - HH:mm}',
      axisFormat: 'HH:mm',
      columnFormat: {
    	    month: 'ddd',
    	    week: 'ddd, dd.MM',
    	    day: 'dddd, dd.MM'    	  
      },
      titleFormat: {
    	    month: 'MMMM yyyy',
    	    week: "d [MMMM ][ yyyy]{ '&#8212;' d MMMM yyyy}",
    	    day: 'dddd, d MMMM yyyy'
	  },
	  firstHour: 7,
      events: [
  %{
    i = 0;
    for(entry in entryList.getScheduledTimeSlotList()){
      i++; 
      println '{';
      println 'title: \''+entry.getTitle()+'\',';
      if(entry.getEntryType()==models.timetable.TimetableEntry.TimetableEntryType.BLOCKED){
        println 'color: \'#EEEEEE\','
      }
      else if(entry.getEntryType()==models.timetable.TimetableEntry.TimetableEntryType.SCHEDULED_LEARNINGSLOT){
        title = entry.getTitle();
        r = entry.getColor().getRed();
        g = entry.getColor().getGreen();
        b = entry.getColor().getBlue();
        
        println 'color: \'rgb('+r+','+g+','+b+')\',';
      }
      else if(entry.getEntryType()==models.timetable.TimetableEntry.TimetableEntryType.EXTERNAL){
        println 'color: \'#aaaaaa\','
      }
      else if(entry.getEntryType()==models.timetable.TimetableEntry.TimetableEntryType.SCHEDULED_BREAKSLOT){
        println 'color: \'#FAFAFA\','
      }
  %}
      start: new Date(${entry.getStartDateTime().getYear()},${entry.getStartDateTime().getMonthOfYear()-1},${entry.getStartDateTime().getDayOfMonth()},${entry.getStartDateTime().getHourOfDay()},${entry.getStartDateTime().getMinuteOfHour()}),
      end: new Date(${entry.getEndDateTime().getYear()},${entry.getEndDateTime().getMonthOfYear()-1},${entry.getEndDateTime().getDayOfMonth()},${entry.getEndDateTime().getHourOfDay()},${entry.getEndDateTime().getMinuteOfHour()}),
      allDay: false,
      description: '${entry.getDescription()}'
    }
  %{
      if(i!=entryList.getScheduledTimeSlotList().size()){
        print ',';
      }
    }
  %}      
      ]
    });
    
  });

  </script>   
#{/set}

%{
  failureCourses = '';
  courseStats = '';
  courseSuccessCount = 0;
  for(statusKey in entryList.getCourseScheduleStatusList().keySet()){
    status = entryList.getCourseScheduleStatusList().get(statusKey).toString();
    if(status.equals('SUCCESS')){
      courseSuccessCount++;
      courseStats +=  '<tr><td>'+statusKey+'</td><td><span class=\'label label-success\'>Success</span></td><td>Course was successfully scheduled</td></tr>';
    }
    else{
     if(status.equals('ERROR_REACHED_DEADLINE')){
      courseStats +=  '<tr><td>'+statusKey+'</td><td><span class=\'label label-important\'>Deadline Reached</span></td><td>Deadline was reached during scheduling. Reason may be too much workload.</td></tr>';
     }
     else if(status.equals('ERROR_NO_FREETIME_SLOTS')){
      courseStats +=  '<tr><td>'+statusKey+'</td><td><span class=\'label label-important\'>No Freetime Slots</span></td><td>There are no time slots between start date and deadline to schedule learn slots.</td></tr>';
     }
     else if(status.equals('ERROR_DEADLINE_IN_PAST')){
      courseStats +=  '<tr><td>'+statusKey+'</td><td><span class=\'label label-important\'>Deadline Located In Past</span></td><td>Deadline of the certain course is before start date.</td></tr>';
     }
     else if(status.equals('ERROR_MAX_WORKLOAD_HOURS_REACHED')){
      courseStats +=  '<tr><td>'+statusKey+'</td><td><span class=\'label label-important\'>Maximum Workload Exceeded</span></td><td>Maximum workload hours each day has been exceeded.</td></tr>';
     }
     if(!failureCourses.equals('')){
      failureCourses += ', ';
     }
     failureCourses += statusKey;
    }
  }
  if(statusAlert == null || statusAlert.equals('')){
    print '<div class=\'alert alert-success\'><b>All '+courseSuccessCount+' courses were successfully scheduled</b><br />';
    print '<br><a href=\'';
    %}
      @{Application.timetable()}
    %{
    print '\' class=\'btn btn-primary btn-right\' type=\'button\'>Reschedule</a></div>';  
  }
  else{ 
    print '<div class=\'alert alert-error\'><b>Following courses couldn\'t be scheduled (for further information see below):</b> '+failureCourses;
    print '<br><br><a href=\'';
    %}
      @{Application.timetable()}
    %{
    print '\' class=\'btn btn-primary btn-right\' type=\'button\'>Reschedule</a></div>';  
  }
%}

<div id='calendar'></div>
<br><br>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Course</th><th>Schedule-Status</th><th>Description</th>
    </tr>
  </thead>
  <tbody>
    %{
      print courseStats;
    %}
  </tbody>
</table>  

<!--
<br><br>
<table class="table table-hover">
  <thead>
    <tr>
      <th>#</th><th>Entry Title</th><th>Start Date</th><th>End Date</th>
    </tr>
  </thead>
  <tbody>
  %{
    i = 0;
    for(entry in entryList.getScheduledTimeSlotList()){
      i++; 
  }%
  
  <tr><td>${i}</td><td>${entry.getTitle()}</td><td>${entry.getStartDateTime().toString()}</td><td>${entry.getEndDateTime().toString()}</td></tr>
  
  %{
    }
  }%
  </tbody>
</table>	

${errorString}
-->
<br>
