#{extends 'main.html' /}
#{set title:'Home' /}
#{set timeTableNavActive:'active' /}
#{set myCoursesNavActive: '' /}

#{set 'pageStyles'}
  <link href="@{'/public/stylesheets/fullcalendar.css'}" rel='stylesheet' />
  <link href="@{'/public/stylesheets/fullcalendar.print.css'}" rel='stylesheet' media='print' />
  <style>

  #calendar {
    width: 900px;
    margin: 0 auto;
    }

  </style>     
#{/set}
#{set 'pageScripts'}
  <script src="@{'/public/javascripts/fullcalendar.min.js'}"></script>
  <script>

  $(document).ready(function() {
  
    var date = new Date();
    var d = date.getDate();
    var m = date.getMonth();
    var y = date.getFullYear();
    
    $('#calendar').fullCalendar({
      header: {
        left: 'prev,next today',
        center: 'title',
        right: 'month,agendaWeek,agendaDay'
      },
      defaultView: 'agendaWeek',
      slotminutes: 60,
      editable: false,
      events: [
  %{
    i = 0;
    for(entry in entryList){
      i++; 
  }%
    {
      title: '${entry.getTitle()}',
      %{
        if(entry.getEntryType()==models.timetable.TimetableEntry.TimetableEntryType.BLOCKED){
      %}
        color: '#dddddd',
      %{
        }
      %}
      start: new Date(${entry.getStartDateTime().getYear()},${entry.getStartDateTime().getMonthOfYear()-1},${entry.getStartDateTime().getDayOfMonth()},${entry.getStartDateTime().getHourOfDay()},${entry.getStartDateTime().getMinuteOfHour()}),
      end: new Date(${entry.getEndDateTime().getYear()},${entry.getEndDateTime().getMonthOfYear()-1},${entry.getEndDateTime().getDayOfMonth()},${entry.getEndDateTime().getHourOfDay()},${entry.getEndDateTime().getMinuteOfHour()}),
      allDay: false
    }%{
      if(i!=entryList.size()){
  %}, 
  %{   
      }
    }
  %}      
      ]
    });
    
  });

  </script>   
#{/set}

<div id='calendar'></div>
<br><br>
<table class="table table-hover">
  <thead>
    <tr>
      <th>#</th><th>Entry Title</th><th>Start Date</th><th>End Date</th>
    </tr>
  </thead>
  <tbody>
  %{
    i = 0;
    for(entry in entryList){
      i++; 
  }%
  
  <tr><td>${i}</td><td>${entry.getTitle()}</td><td>${entry.getStartDateTime().toString()}</td><td>${entry.getEndDateTime().toString()}</td></tr>
  
  %{
    }
  }%
  </tbody>
</table>	

${errorString}
<br>

