#{extends 'wrapper.html' /}
#{set 'personalHeader'}
        <div class="container header-personal-info">
          <div class="pull-right right-header-box">
          	<div class="userpic">
          		<div style="border: 1px solid #404040; background-color: #f0f0f0; width: 100px; height: 100px;">
          			<img src="@{'/public/userpic'}/${user.userpic}" width="100" height="100" border="0" alt="" />
          		</div>
          		
          	</div>
          	<div>
	            Hi ${user.name}, <br />nice to see you!<br>
	            <div class="right-header-link-box">
	            	<a href="@{Application.settings()}">Settings</a><span class="menu-link-separator">&#8226;</span><a href="@{Secure.logout()}">Log Out</a>
	            </div>
	        </div>
          </div>
        </div>
#{/set}
#{set 'contentHeader'}
        <div class="container">
        <div class="pull-right right-header-box">
	        <form class="navbar-search">
	          <input type="text" class="search-query" placeholder="Search">
	        </form>
	    </div>
        <ul class="nav nav-pills">
          <li class="#{get 'timeTableNavActive' /}"><a href="@{Application.timetable()}">Timetable</a></li>
          <li class="#{get 'myCoursesNavActive' /}"><a href="@{Application.courses()}">My Courses</a></li>
        </ul>   
        </div>
#{/set}
#{doLayout /}
