#{extends 'wrapper.html' /}
#{set 'personalHeader'}
        <div class="container header-personal-info">
          <div class="pull-right">
            Hi Klaus Schmidt, nice to see you!<br>
            <a href="@{Application.settings()}">Settings</a>&#8226;<a href="@{Secure.logout()}">Log Out</a>
            
          </div>
        </div>
#{/set}
#{set 'contentHeader'}
        <div class="container">
        <form class="navbar-search pull-right">
          <input type="text" class="search-query" placeholder="Search">
        </form>
        <ul class="nav nav-pills">
          <li class="#{get 'timeTableNavActive' /}"><a href="@{Application.timetable()}">Timetable</a></li>
          <li class="#{get 'myCoursesNavActive' /}"><a href="@{Application.courses()}">My Courses</a></li>
        </ul>   
        </div>
#{/set}
#{doLayout /}
