<!DOCTYPE html>
<html>
    <head>
        <title>#{get 'title' /}</title>
        <meta charset="${_response_encoding}">
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/bootstrap.css'}">
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/tablesorter-blue.css'}">
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/slider.css'}">
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/main.css'}">
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/bootstrap-timepicker.css'}">
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/bootstrap-multiselect.css'}">
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/bootstrap-colorpicker.css'}">
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/bootstrap-datetimepicker.min.css'}">
        
        #{get 'pageStyles' /}
        <script src="@{'/public/javascripts/jquery-1.9.1.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        <script src="@{'/public/javascripts/jquery-ui-1.10.2.custom.min.js'}"></script>
        <script src="@{'/public/javascripts/jquery.tablesorter.min.js'}"></script>
        <script src="@{'/public/javascripts/bootstrap.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        <script src="@{'/public/javascripts/bootstrap-slider.js'}"></script>
        <script src="@{'/public/javascripts/bootstrap-timepicker.js'}"></script>
        <script src="@{'/public/javascripts/bootstrap-multiselect.js'}"></script>
        <script src="@{'/public/javascripts/bootstrap-colorpicker.js'}"></script>
        <script src="@{'/public/javascripts/bootstrap-datetimepicker.min.js'}"></script>
        #{get 'pageScripts' /}
    </head>
    <body>    
      <div class="page-header">
        <div class="banner-placeholder">
        <!--<div class="container banner">
        	<a href="/"><img src="@{'/public/images/logo.png'}" border="1" width="225" height="106" alt="Academic Time Management Tool"></a>
        </div>-->
        </div>
        #{get 'personalHeader' /}
        #{get 'contentHeader' /}
      </div>
      <div id="wrap">
        <div class="container">      
			<h3>#{get 'header' /}</h3>
	        #{doLayout /}
        </div>
      </div>
      <div id="footer">
        <div class="container">
          <p class="muted credit"><a href="#">About</a>&#8226;<a href="#">Documentation</a>&#8226;<a href="#">Pricing</a>&#8226;<a href="#">Terms Of Use</a>&#8226;<a href="#">Privacy Policy</a></p>
        </div>
      </div>

    </body>
</html>